.ticker-bar
{
	position: fixed;
	bottom: 0.0em;
	height: 1.0em;
	width: 100%;
	background-color: rgba(30, 30, 30, 0.7);
}

.ticker-bar-text
{
	width: 100%;
	text-align: center;
	font-size: 0.8em;

	position: absolute;
	color: #2CC0FF;	
}

